<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab 
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  -->
	  
  <!-- QR Tab -->
  <ion-tab title="QR-Read" icon-off="ion-grid" icon-on="ion-grid" href="#/tab/qr">
    <ion-nav-view name="tab-qr"></ion-nav-view>
  </ion-tab>

  <!-- NFC Tab -->
  <ion-tab title="NFC-Write" icon-off="ion-wifi" icon-on="ion-wifi" href="#/tab/nfc-w">
    <ion-nav-view name="tab-nfc-w"></ion-nav-view>
  </ion-tab>

  <!-- NFC Tab -->
  <ion-tab title="NFC-Read" icon-off="ion-wifi" icon-on="ion-wifi" href="#/tab/nfc-r">
    <ion-nav-view name="tab-nfc-r"></ion-nav-view>
  </ion-tab>

</ion-tabs>
